{% extends 'base.html.twig' %}

{% block stylesheets %}
        {% stylesheets 'bundles/css/font-awesome-4.4.0/css/font-awesome.min.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {{ parent() }}
{% endblock %}

{% block body %}

<div class="modal" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="panel panel-default" id="games_played_games">
    <div class="panel-heading">Matcher</div>
    <table class="table">
    <tr>

        <th>Match</th>
        <th>Highlight</th>
        <th>Betyg</th>
        <th>CMH</th>

    </tr>
    {% for game in games %}
	   <tr>
            <td id="game">{{ game.gamedates|date("Y-m-d") }} {{ game.gamedates|date("H:i") }} - {{ game.gameName }} </td>
            
            <td id="game-{{ game.id }}">
                {% if game.highlight.user.name is defined %}
                	{% if game.highlight.user.name != "David" %}
                    <a class="not_user" data-toggle="modal" data-target="#gameModal" href="{{ path('_update_highlight', {'id': game.id}) }}">{{ game.highlight.user.name }}</a>
                    {% else %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_highlight', {'id': game.id}) }}">{{ game.highlight.user.name }}</a>
                {% endif %}
                {% else %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_highlight', {'id': game.id}) }}"><i class="fa fa-user-plus"></i></a>
                {% endif %}
            </td>

            <td id="game">
                {% if game.grade.grade != null %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_grade', {'id': game.id}) }}">{{ game.grade.grade }}</a>
                {% else %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_grade', {'id': game.id}) }}"><i class="fa fa-minus"></i></a>
                {% endif %}
            </td>

            <td id="game">
                {% if game.cmh.user.name is defined %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_cmh', {'id': game.id}) }}">{{ game.cmh.user.name }}</a>
                    {% else %}
                        <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_cmh', {'id': game.id}) }}"><i class="fa fa-user-plus"></i></a>
                {% endif %}
            </td>

        </tr>

{% endfor %}

</table>
</div>

{% block javascripts %}
            {{ parent() }}
            {% javascripts 
                'bundles/js/js/update_highlight.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}

{% endblock %}