{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {% stylesheets 'bundles/css/css/font-awesome.min.css' filter='cssrewrite' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        {{ parent() }}
    {% endblock %}

{% block body %}

    <div class="modal" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

            </div>
        </div>
    </div>

<div class="panel panel-default" id="games_comming_games">
    <div class="panel-heading">Kommande matcher</div>
<table class="table">
    <tr>
        <th>Match</th>
        <th>Highlight</th>
        <th>CMH</th>

    </tr>
    {% set date = null %}
    {% for game in games %}
        {% if date != game.gamedates|date('Y-m-d') %}
            {% set date = game.gamedates|date('Y-m-d') %}
    <tr>
        <th id="hej">{{ game.gamedates|date('Y-m-d') }} - {{ game.gamedates|date('l')}} </th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
            {% set date = game.gamedates|date('Y-m-d') %}
        {% endif %}

        <tr>
            <td>{{ game.gamedates|date("H:i") }} - {{ game.gameName }} </td>
            
            <td id="game-{{ game.id }}">
                {% if game.highlight.user.name is defined %}
                    <a data-highlight-id="{{ game.highlight.id }}" data-toggle="modal" data-target="#gameModal" href="{{ path('_update_highlight', {'id': game.id}) }}">{{ game.highlight.user.name }}
                        {% if game.highlight.trade != false %}<i class="fa fa-flag"></i></a>
                        {% endif %}
                {% else %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_highlight', {'id': game.id}) }}"><i class="fa fa-user-plus"></i></a>
                {% endif %}
            </td>

            <td>
                {% if game.cmh.user.name is defined %}
                    <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_cmh', {'id': game.id}) }}">{{ game.cmh.user.name }}</a>
                    {% else %}
                        <a data-toggle="modal" data-target="#gameModal" href="{{ path('_update_cmh', {'id': game.id}) }}"><i class="fa fa-user-plus"></i></a>
                {% endif %}
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>

{% endfor %}

</table>
</div>

{% endblock %}