<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Highlight</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>

     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            {{highlight.testgame.gameName}} -
            {{highlight.testgame.gamedates|date("j")}}/{{highlight.testgame.gamedates|date("m")}} -
            Highlights
        </h5>
      </div>
<table class="table" id="game_modal">
    <tr>
        <th id="game_th">
{{ form_start(form) }}

{{ form_widget(form) }}
</th>

<th id="game_th">

{{ form_end(form) }}
</th>
</tr>
</table>
<div class="modal-footer">
 {% if highlight.user != null %}   
<button id="remove_highlight_button" class="btn btn-warning">Ta bort bokning</button>
{% endif %}
</div>

</div>

<script type="text/javascript">
    var $id = {{ highlight.id }};
    var $add_user = '<i class="fa fa-user-plus"></i>';
    var $before_href = '<a data-toggle="modal" data-target="#gameModal" href="'
    var $after_href = '">';
    var $link = 'testgame/highlight/'
    //post highlight to database
    $(function() 
    {
        $("form").submit(function (e) {
            e.preventDefault();
            //location.reload(false);
            var $data = $(this).serialize();

            
            $.ajax({
                type: "POST",
                url: "testgame/highlight/" + $id,
                data: $data
            })
            .done(function (result) {
                if (result.success) {
                    $("#game-"+result.highlight.id).hide();
                    $('#gameModal').modal('hide');
                    console.log(result);
                    document.getElementById('game-'+result.highlight.id).innerHTML = $before_href+$link+result.highlight.id+$after_href+result.highlight.user+'</a>';
                    $("#game-"+result.highlight.id).fadeIn().addClass("update_success");
                    setTimeout(function() {
                        $("#game-"+result.highlight.id).removeClass("update_success");
                    }, 3000);
                }
            })
            .fail(function(err) {
                console.log(err);
                alert('Status: '+err.status+' '+err.statusText+', Readystate: '+err.readyState);
                $('#gameModal').modal('hide');
                location.reload(true);
            })
        });
    });
    $(function() 
    {
        $('#remove_highlight_button').click(function() {
            $.ajax({
                type: 'POST',
                url: 'testgame/highlight/remove/'+$id
            }).done(function (result) {
                if (result.success) {
                    $("#game-"+result.highlight.id).hide();
                    $('#gameModal').modal('hide');
                    console.log(result);
                    document.getElementById('game-'+result.highlight.id).innerHTML = $before_href+'testgame/highlight/'+result.highlight.id+$after_href+$add_user+'</a>';
                    $("#game-"+result.highlight.id).fadeIn().addClass("remove_success");
                    setTimeout(function() {
                        $("#game-"+result.highlight.id).removeClass("remove_success");
                    }, 3000);
                }
            });
        });
    });

    //empty modal on close
    $(document).on("hidden.bs.modal", ".modal:not(.local-modal)", function (e) {
        $(e.target).removeData("bs.modal").find(".modal-content").empty();
        $('a').removeClass('test_test');
    });    
    
</script>

</body>
</html>