<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Highlight</title>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
</head>

<body>

     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title">
            {{highlight.testgame.gameName}} =
            {{highlight.testgame.gamedates|date("j")}}/{{highlight.testgame.gamedates|date("m")}} -
            Highlights
        </h5>
      </div>
<div class="modal_highlight">
{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="modal_form">
        {{ form_label(form.user) }}
        {{ form_errors(form.user) }}
        {{ form_widget(form.user) }}
    </div>

    <div class="modal_form" id="trade">
        {{ form_label(form.trade) }}
        {{ form_errors(form.trade) }}
        {{ form_widget(form.trade) }}
    </div>

    <div class="modal_form" id="trade_message">
        {{ form_label(form.trade_message) }}
        {{ form_errors(form.trade_message) }}
        {{ form_widget(form.trade_message) }}
    </div>

    <div class="modal_form" id="modal_save">
        {{ form_widget(form.save) }}
    </div>

{{ form_end(form) }}
</div>
{% if highlight.user != null %} 
<div class="modal-footer">
<button id="remove_highlight_button" class="btn btn-danger">Ta bort bokning</button>
{% endif %}
</div>

<script type="text/javascript">
{% if highlight.user == null %}
    hide();
{% endif %}
    highlight({{highlight.id}});    
</script>

</body>
</html>